In [1]:
import pandas as pd 

readWheatIndexCSV = "Resources/S&PGSCIGrainsIndex12-07-2022.csv"

wheatCashPricesDF = pd.read_csv(readWheatIndexCSV)
wheatCashPricesDF

,Symbol: $SG5F,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Study: VOL (LikeMain),Unnamed: 7
0,2020-05-27,304.55,307.01,304.04,305.19,0.00,NaN,NaN
1,2020-05-28,305.19,311.89,304.03,309.97,4.78,NaN,NaN
2,2020-05-29,309.97,311.03,307.45,310.23,0.26,NaN,NaN
3,2020-06-01,310.23,311.46,305.24,307.88,-2.35,NaN,NaN
4,2020-06-02,307.88,308.69,306.57,307.17,-0.71,NaN,NaN
...,...,...,...,...,...,...,...,...
635,2022-12-01,562.62,562.62,553.07,553.82,-8.80,NaN,NaN
636,2022-12-02,553.82,554.07,544.00,544.98,-8.84,NaN,NaN
637,2022-12-05,544.98,547.85,536.08,537.57,-7.41,NaN,NaN
638,2022-12-06,537.57,542.93,533.66,535.81,-1.76,NaN,NaN
639,2022-12-07,535.94,546.08,535.17,543.97,8.16,NaN,NaN

In [2]:
wheatCashPricesDF = wheatCashPricesDF.rename(columns={"Symbol: $SG5F":"Date",
                                                        "Unnamed: 1":"Opening Price",
                                                        "Unnamed: 2":"High of the Day",
                                                        "Unnamed: 3": "Low of the Day",
                                                        "Unnamed: 4": "Close of the Day",
                                                        "Unnamed: 5": "Change of the Day"
                                                        })


""" date = wheatCashPricesDF["Symbol:$SG5F"]
openPrice = wheatCashPricesDF["Unamed: 1"]
dayMaxPrice = wheatCashPricesDF["Unnamed: 2"]
dayLowPrice = wheatCashPricesDF["Unnamed: 3"]
dayClosePrice = wheatCashPricesDF["Unnamed: 4"]
dayChangePrice = wheatCashPricesDF["Unnamed: 5"]
 """
wheatCashPricesDF.head()

,Date,Opening Price,High of the Day,Low of the Day,Close of the Day,Change of the Day,Study: VOL (LikeMain),Unnamed: 7
0,2020-05-27,304.55,307.01,304.04,305.19,0.00,NaN,NaN
1,2020-05-28,305.19,311.89,304.03,309.97,4.78,NaN,NaN
2,2020-05-29,309.97,311.03,307.45,310.23,0.26,NaN,NaN
3,2020-06-01,310.23,311.46,305.24,307.88,-2.35,NaN,NaN
4,2020-06-02,307.88,308.69,306.57,307.17,-0.71,NaN,NaN

In [3]:
transformedCashPricesDF = wheatCashPricesDF[["Date", "Opening Price", "High of the Day", "Low of the Day", "Close of the Day", "Change of the Day"]]
transformedCashPricesDF.head()

,Date,Opening Price,High of the Day,Low of the Day,Close of the Day,Change of the Day
0,2020-05-27,304.55,307.01,304.04,305.19,0.00
1,2020-05-28,305.19,311.89,304.03,309.97,4.78
2,2020-05-29,309.97,311.03,307.45,310.23,0.26
3,2020-06-01,310.23,311.46,305.24,307.88,-2.35
4,2020-06-02,307.88,308.69,306.57,307.17,-0.71

In [4]:
""" transformedCashPricesDF['Date'] = pd.to_datetime(transformedCashPricesDF['Date'], format='%Y-%m-%d')
transformedCashPricesDF.dtypes """

c:\Users\18176\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Date                 datetime64[ns]
Opening Price               float64
High of the Day             float64
Low of the Day              float64
Close of the Day            float64
Change of the Day           float64
dtype: object

In [5]:
""" marketCatastopheDF = transformedCashPricesDF.loc[(transformedCashPricesDF["Date"] >= '2022-02-24'
                                                    & transformedCashPricesDF["Date"] <= '2022-03-10')] """
marketCatastopheDF = transformedCashPricesDF.query("Date >= '2022-02-10' \
                       and Date < '2022-03-10'")
marketCatastopheDF.head(30)

,Date,Opening Price,High of the Day,Low of the Day,Close of the Day,Change of the Day
432,2022-02-10,561.60,573.59,552.09,554.97,-6.45
433,2022-02-11,555.19,569.11,552.14,565.13,10.16
434,2022-02-14,565.13,571.62,556.45,566.07,0.94
435,2022-02-15,566.07,566.07,551.67,553.57,-12.50
436,2022-02-16,553.57,561.41,552.08,560.21,6.64
437,2022-02-17,560.21,566.79,557.05,565.83,5.62
438,2022-02-18,565.83,572.75,562.66,568.47,2.64
439,2022-02-22,568.47,589.69,568.47,589.18,20.71
440,2022-02-23,589.18,603.62,586.42,602.89,13.71
441,2022-02-24,602.89,634.98,601.93,615.31,12.42
442,2022-02-25,615.31,624.14,579.31,579.69,-35.62
443,2022-02-28,579.69,614.53,579.69,612.82,33.13
444,2022-03-01,612.82,641.68,612.82,641.45,28.63
445,2022-03-02,641.45,666.08,635.47,654.96,13.51
446,2022-03-03,654.96,686.98,654.96,680.03,25.07
447,2022-03-04,680.03,710.84,680.03,697.53,17.50
448,2022-03-07,697.53,727.97,697.53,711.99,14.46
449,2022-03-08,711.99,729.49,677.21,711.26,-0.73
450,2022-03-09,711.26,712.20,682.90,683.62,-27.64